/* LoginPage.module.css */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.back {
  padding: 1rem;
}

.content {
  display: flex;
  flex: 1;
}

.illustration {
  flex: 1;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  flex: 1;
  padding: 2rem;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.registerButton {
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}